	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;
*/}

.flaticon-100-percent-zoom-symbol:before { content: "\f100"; }
.flaticon-alien-outline-in-a-circle:before { content: "\f101"; }
.flaticon-ascendant-line-graphic-on-a-browser-window-inside-a-circle:before { content: "\f102"; }
.flaticon-backup-thin-outline-symbol-in-a-circle:before { content: "\f103"; }
.flaticon-basket-commercial-symbol:before { content: "\f104"; }
.flaticon-battery-outline-in-a-circle:before { content: "\f105"; }
.flaticon-battery-thin-outline-symbol-in-a-circle:before { content: "\f106"; }
.flaticon-bricks-outline-symbol-inside-a-circle:before { content: "\f107"; }
.flaticon-briefcase-in-a-circle:before { content: "\f108"; }
.flaticon-briefcase-thin-outline-symbol-in-a-circle:before { content: "\f109"; }
.flaticon-browser-cash-symbol-thin-outline-inside-a-circle:before { content: "\f10a"; }
.flaticon-browser-chain-symbol:before { content: "\f10b"; }
.flaticon-browser-circular-symbol:before { content: "\f10c"; }
.flaticon-browser-code-outline-symbol-in-a-circle:before { content: "\f10d"; }
.flaticon-browser-download-symbol-in-a-circle:before { content: "\f10e"; }
.flaticon-browser-download-symbol-in-a-circle-1:before { content: "\f10f"; }
.flaticon-browser-search-symbol-in-a-circle:before { content: "\f110"; }
.flaticon-browser-search-symbol-in-a-circle-1:before { content: "\f111"; }
.flaticon-browser-setting-interface-circular-symbol-of-a-wrench-in-a-window-outlines-inside-a-circle:before { content: "\f112"; }
.flaticon-browser-setting-thin-outline-symbol-in-a-circle:before { content: "\f113"; }
.flaticon-browser-settings-circular-interface-symbol:before { content: "\f114"; }
.flaticon-browser-settings-circular-symbol:before { content: "\f115"; }
.flaticon-browser-settings-outline-interface-symbol-in-a-circle:before { content: "\f116"; }
.flaticon-browser-settings-symbol-inside-a-circle:before { content: "\f117"; }
.flaticon-browser-settings-with-window-and-cogwheel-inside-a-circle:before { content: "\f118"; }
.flaticon-browser-window-in-a-circle:before { content: "\f119"; }
.flaticon-browser-window-with-a-settings-gear-and-a-right-arrow-inside-a-circle:before { content: "\f11a"; }
.flaticon-browser-window-with-business-graphic-in-a-circle:before { content: "\f11b"; }
.flaticon-browser-window-with-code-signs-in-a-circle:before { content: "\f11c"; }
.flaticon-browser-with-a-heart-symbol-inside-a-circle:before { content: "\f11d"; }
.flaticon-browser-with-text-and-pen-tool-variant:before { content: "\f11e"; }
.flaticon-browsers-windows-in-a-circle:before { content: "\f11f"; }
.flaticon-business-bars-graphic:before { content: "\f120"; }
.flaticon-businessman-with-ascending-arrow-stair-in-a-circle:before { content: "\f121"; }
.flaticon-cellphone-variant-with-cogwheel-symbol-in-a-circle:before { content: "\f122"; }
.flaticon-cellphone-with-cogwheel-outline-inside-a-circle:before { content: "\f123"; }
.flaticon-chain-links-symbol-with-plus-signs-in-a-circle:before { content: "\f124"; }
.flaticon-circles-circle-outline-interface-circular-symbol:before { content: "\f125"; }
.flaticon-circles-interface-symbol-in-a-circle-for-seo:before { content: "\f126"; }
.flaticon-circular-eyeglasses-inside-a-circle:before { content: "\f127"; }
.flaticon-circular-graphic-outline-interface-symbol-in-a-circle:before { content: "\f128"; }
.flaticon-cloud-laptop:before { content: "\f129"; }
.flaticon-cloud-wifi-connection-circular-symbol:before { content: "\f12a"; }
.flaticon-code-info-symbol-in-a-circle:before { content: "\f12b"; }
.flaticon-coffee-cup-in-a-circle:before { content: "\f12c"; }
.flaticon-computer-cash-interface-symbol:before { content: "\f12d"; }
.flaticon-computer-cash-symbol-in-a-circle:before { content: "\f12e"; }
.flaticon-computer-graphic-on-a-monitor-outline-symbol-in-a-circle-for-interface:before { content: "\f12f"; }
.flaticon-computer-outline-symbol-inside-a-circle:before { content: "\f130"; }
.flaticon-computer-setting-outline-interface-symbol-in-a-circle:before { content: "\f131"; }
.flaticon-computers-monitors:before { content: "\f132"; }
.flaticon-conversation-bubbles-in-a-circle:before { content: "\f133"; }
.flaticon-conversation-circular-symbol:before { content: "\f134"; }
.flaticon-dropbox-in-browser-variant-inside-circle:before { content: "\f135"; }
.flaticon-dropbox-in-browser-window-circular-symbol:before { content: "\f136"; }
.flaticon-e-book-outline-interface-symbol-in-a-circle:before { content: "\f137"; }
.flaticon-eye-watching:before { content: "\f138"; }
.flaticon-eyeglasses-of-circular-outline-in-a-circle:before { content: "\f139"; }
.flaticon-favourite-browser-symbol-in-a-circle:before { content: "\f13a"; }
.flaticon-film-strip-photograms-inside-a-circle:before { content: "\f13b"; }
.flaticon-folder-outline-inside-a-circle:before { content: "\f13c"; }
.flaticon-graphic-in-a-circle:before { content: "\f13d"; }
.flaticon-graphic-with-ascending-line-inside-a-circle:before { content: "\f13e"; }
.flaticon-hand-cash-circular-symbol:before { content: "\f13f"; }
.flaticon-hard-drive-circular-symbol:before { content: "\f140"; }
.flaticon-html-seo-interface-symbol:before { content: "\f141"; }
.flaticon-http-search-symbol:before { content: "\f142"; }
.flaticon-info-circular-symbol:before { content: "\f143"; }
.flaticon-key-outline-password-interface-symbol-inside-a-circle:before { content: "\f144"; }
.flaticon-key-password-interface-symbol-in-a-circle:before { content: "\f145"; }
.flaticon-label-inside-a-circle:before { content: "\f146"; }
.flaticon-laptop-graphic:before { content: "\f147"; }
.flaticon-laptop-on-cloud-thin-outline-symbol-in-a-circle:before { content: "\f148"; }
.flaticon-laptop-with-up-arrows-seo-symbol-for-interface:before { content: "\f149"; }
.flaticon-light-bulb-outline-sign-inside-a-circle:before { content: "\f14a"; }
.flaticon-light-circular-symbol:before { content: "\f14b"; }
.flaticon-lightbulb-on-outline-inside-a-circle:before { content: "\f14c"; }
.flaticon-lightbulb-outline-in-a-circle:before { content: "\f14d"; }
.flaticon-like-hand-symbol-in-a-circle:before { content: "\f14e"; }
.flaticon-like-hand-symbol-in-a-circle-1:before { content: "\f14f"; }
.flaticon-line-graphic-on-a-computer-monitor-in-a-circle:before { content: "\f150"; }
.flaticon-line-graphic-on-a-monitor-screen-outline-in-a-circle:before { content: "\f151"; }
.flaticon-link-seo-symbol-for-interface-in-a-circle:before { content: "\f152"; }
.flaticon-links-add-symbol-in-a-circle:before { content: "\f153"; }
.flaticon-lock-on-cloud-symbol-outline-inside-a-circle:before { content: "\f154"; }
.flaticon-lock-settings-interface-circular-symbol:before { content: "\f155"; }
.flaticon-loudspeaker:before { content: "\f156"; }
.flaticon-mail-and-phone-outline-symbol-in-a-circle:before { content: "\f157"; }
.flaticon-map-outline-inside-a-circle:before { content: "\f158"; }
.flaticon-map-placeholder-on-globe-grid:before { content: "\f159"; }
.flaticon-map-with-a-pin-small-symbol-inside-a-circle:before { content: "\f15a"; }
.flaticon-measure-folder-interface-outline-symbol-inside-a-circle:before { content: "\f15b"; }
.flaticon-microphone-outline-symbol-in-a-circle:before { content: "\f15c"; }
.flaticon-monitor-and-cellphone-outlines-in-a-circle:before { content: "\f15d"; }
.flaticon-network-outline-symbol-in-a-circle:before { content: "\f15e"; }
.flaticon-network-triangular-outline-symbol-in-a-circle:before { content: "\f15f"; }
.flaticon-no-disturb-symbol-in-a-circle:before { content: "\f160"; }
.flaticon-open-blank-browser-inside-a-circle:before { content: "\f161"; }
.flaticon-open-book-outline-variant-inside-a-circle:before { content: "\f162"; }
.flaticon-open-browser-window-with-text:before { content: "\f163"; }
.flaticon-people-group-in-a-circle:before { content: "\f164"; }
.flaticon-people-mail-symbol-in-a-circle:before { content: "\f165"; }
.flaticon-people-outlines-in-a-circle:before { content: "\f166"; }
.flaticon-people-reward-symbol-inside-a-circle:before { content: "\f167"; }
.flaticon-people-speaking-outline-symbol-inside-a-circle:before { content: "\f168"; }
.flaticon-person-and-connections-outline-symbol-inside-a-circle:before { content: "\f169"; }
.flaticon-person-in-front-of-the-world-grid-inside-a-circle:before { content: "\f16a"; }
.flaticon-person-or-personal-setting-outline-symbol-in-a-circle:before { content: "\f16b"; }
.flaticon-person-or-personal-synchronization-circular-symbol:before { content: "\f16c"; }
.flaticon-person-outline-with-cogwheel-symbol:before { content: "\f16d"; }
.flaticon-person-search-symbol-in-a-circle:before { content: "\f16e"; }
.flaticon-person-security-symbol:before { content: "\f16f"; }
.flaticon-person-settings-outline-symbol-of-seo-for-interface:before { content: "\f170"; }
.flaticon-person-speaking-symbol-in-a-circle:before { content: "\f171"; }
.flaticon-person-speech-circular-symbol:before { content: "\f172"; }
.flaticon-person-synchronization-symbol-in-a-circle:before { content: "\f173"; }
.flaticon-person-with-a-cellphone-inside-a-circle:before { content: "\f174"; }
.flaticon-person-with-a-huge-clock-outlines-in-a-circle:before { content: "\f175"; }
.flaticon-person-with-an-opened-email-envelope-inside-a-circle:before { content: "\f176"; }
.flaticon-person-with-calendar-inside-a-circle:before { content: "\f177"; }
.flaticon-person-with-headset-thin-outline-symbol-in-a-circle:before { content: "\f178"; }
.flaticon-person-with-speaker-making-announcement-outline-inside-a-circle:before { content: "\f179"; }
.flaticon-person-with-up-arrow-thin-outline-circular-symbol:before { content: "\f17a"; }
.flaticon-person-with-up-arrows-outline-symbol-in-a-circle:before { content: "\f17b"; }
.flaticon-personal-mail-circular-symbol:before { content: "\f17c"; }
.flaticon-phone-and-computer-monitor-outlines-inside-a-circle:before { content: "\f17d"; }
.flaticon-phone-outline-in-a-circle:before { content: "\f17e"; }
.flaticon-pie-chart-in-a-circle:before { content: "\f17f"; }
.flaticon-pie-circular-graphic-with-bars-in-the-center-part-thin-symbol-outline-inside-a-circle:before { content: "\f180"; }
.flaticon-plugs-connection-outline-symbol-in-a-circle:before { content: "\f181"; }
.flaticon-points:before { content: "\f182"; }
.flaticon-puzzle-piece-outline-inside-a-circle:before { content: "\f183"; }
.flaticon-question-sign-in-circles:before { content: "\f184"; }
.flaticon-receiving-hand-outline-with-palm-up-inside-a-circle:before { content: "\f185"; }
.flaticon-recycle-bin-outline-symbol-inside-a-circle:before { content: "\f186"; }
.flaticon-reward-symbol-in-a-circle:before { content: "\f187"; }
.flaticon-robot-outline-in-a-circle:before { content: "\f188"; }
.flaticon-safebox-outline-variant-inside-a-circle:before { content: "\f189"; }
.flaticon-science-inbox-symbol-in-a-circle:before { content: "\f18a"; }
.flaticon-screen-symbol-outline-in-a-circle:before { content: "\f18b"; }
.flaticon-search-circular-symbol-with-letters:before { content: "\f18c"; }
.flaticon-search-engine-optimization-drive:before { content: "\f18d"; }
.flaticon-search-interface-circular-symbol:before { content: "\f18e"; }
.flaticon-search-key:before { content: "\f18f"; }
.flaticon-search-key-symbol-in-a-circle:before { content: "\f190"; }
.flaticon-search-text-symbol-in-a-circle:before { content: "\f191"; }
.flaticon-seo-graphic-thin-outline-in-a-circle:before { content: "\f192"; }
.flaticon-seo-label-in-a-circle:before { content: "\f193"; }
.flaticon-seo-label-tag-inside-a-circle:before { content: "\f194"; }
.flaticon-seo-landing-pages-symbol-inside-a-circle:before { content: "\f195"; }
.flaticon-seo-outline-symbol-in-a-circle:before { content: "\f196"; }
.flaticon-seo-search-symbol:before { content: "\f197"; }
.flaticon-seo-shopping-symbol:before { content: "\f198"; }
.flaticon-seo-up-arrows-symbol-in-a-circle:before { content: "\f199"; }
.flaticon-server-outline-symbol-in-a-circle:before { content: "\f19a"; }
.flaticon-settings-console-outline-symbol-in-a-circle:before { content: "\f19b"; }
.flaticon-settings-gear-symbol-outline-in-a-circle:before { content: "\f19c"; }
.flaticon-settings-gears-outlines-interface-symbol:before { content: "\f19d"; }
.flaticon-settings-interface-symbol-variant-in-a-circle:before { content: "\f19e"; }
.flaticon-settings-symbol-with-up-arrow-in-a-circle:before { content: "\f19f"; }
.flaticon-settings-thin-console-controls-symbol-in-a-circle:before { content: "\f1a0"; }
.flaticon-shop-settings-circular-symbol:before { content: "\f1a1"; }
.flaticon-shop-with-cart-in-window-inside-a-circle:before { content: "\f1a2"; }
.flaticon-shopping-basket-configuration-outline-interface-symbol-in-a-circle:before { content: "\f1a3"; }
.flaticon-shopping-basket-in-a-circle:before { content: "\f1a4"; }
.flaticon-skull-outline-with-arroba-sign-in-a-circle:before { content: "\f1a5"; }
.flaticon-small-person-in-a-circle-surrounded-by-arrows-circular-interface-symbol:before { content: "\f1a6"; }
.flaticon-speech-bubble-with-person-inside-a-circle:before { content: "\f1a7"; }
.flaticon-speech-bubbles-outline-symbol-in-a-circle:before { content: "\f1a8"; }
.flaticon-stars-label-outline-symbol-in-a-circle:before { content: "\f1a9"; }
.flaticon-stocks-graphic-in-a-circle:before { content: "\f1aa"; }
.flaticon-target-outline-symbol-in-a-circle:before { content: "\f1ab"; }
.flaticon-target-outline-symbol-inside-a-circle:before { content: "\f1ac"; }
.flaticon-target-search:before { content: "\f1ad"; }
.flaticon-target-square-sign-inside-a-circle:before { content: "\f1ae"; }
.flaticon-target-symbol-in-a-circle:before { content: "\f1af"; }
.flaticon-teacher-teaching-to-the-class-circular-symbol:before { content: "\f1b0"; }
.flaticon-touch-screen-symbol-in-a-circle:before { content: "\f1b1"; }
.flaticon-usb-connector-thin-outline-symbol-in-a-circle:before { content: "\f1b2"; }
.flaticon-video-player-outline-interface-symbol-inside-a-circle:before { content: "\f1b3"; }
.flaticon-wallet-outline-in-a-circle:before { content: "\f1b4"; }
.flaticon-wifi-outline-symbol-in-a-circle:before { content: "\f1b5"; }
.flaticon-window-with-a-pencil-in-a-circle:before { content: "\f1b6"; }
.flaticon-wireless-internet-connection-symbol:before { content: "\f1b7"; }
.flaticon-wireless-search-symbol-in-a-circle:before { content: "\f1b8"; }
.flaticon-wireless-target-outline-symbol-in-a-circle:before { content: "\f1b9"; }
.flaticon-world-browser-interface-symbol-in-a-circle:before { content: "\f1ba"; }
.flaticon-world-browser-outline-symbol-in-a-circle:before { content: "\f1bb"; }
.flaticon-world-browser-settings-symbol:before { content: "\f1bc"; }
.flaticon-world-connection-symbol-in-a-circle:before { content: "\f1bd"; }
.flaticon-world-globe-surrounded-by-arrows-circle:before { content: "\f1be"; }
.flaticon-world-grid-and-a-browser-window-inside-a-circle:before { content: "\f1bf"; }
.flaticon-world-grid-outline-with-drive-and-arrow:before { content: "\f1c0"; }
.flaticon-world-grid-with-cogwheels-inside-a-circle:before { content: "\f1c1"; }
.flaticon-world-grid-with-open-browser-in-a-circle:before { content: "\f1c2"; }
.flaticon-world-inside-a-cogwheel-in-a-black-circle:before { content: "\f1c3"; }
.flaticon-world-net-circular-symbol:before { content: "\f1c4"; }
.flaticon-world-person-outline-symbol-in-a-circle:before { content: "\f1c5"; }
.flaticon-world-security-circular-symbol:before { content: "\f1c6"; }
.flaticon-world-security-symbol-inside-circle:before { content: "\f1c7"; }
.flaticon-world-settings-circular-symbol:before { content: "\f1c8"; }
.flaticon-world-settings-symbol-in-a-circle:before { content: "\f1c9"; }
.flaticon-world-surrounded-by-arrows-in-all-directions:before { content: "\f1ca"; }
.flaticon-world-with-a-pin-symbol-in-a-circle:before { content: "\f1cb"; }
.flaticon-worm-outline-inside-a-circle:before { content: "\f1cc"; }
.flaticon-wrench-and-hammer-tools-thin-outline-symbol-inside-a-circle:before { content: "\f1cd"; }
.flaticon-wrench-and-screwdriver-outline-symbol-in-a-square-and-circle-shape:before { content: "\f1ce"; }
.flaticon-wrench-in-a-gear-outline-symbol-in-a-circle:before { content: "\f1cf"; }
.flaticon-wrench-with-right-arrows-settings-interface-symbol:before { content: "\f1d0"; }
.flaticon-write-symbol-on-browser-window-in-a-circle:before { content: "\f1d1"; }
.flaticon-write-text-symbol-in-a-circle:before { content: "\f1d2"; }
.flaticon-writing-text-on-browser-circular-symbol:before { content: "\f1d3"; }
.flaticon-www-presentation:before { content: "\f1d4"; }