/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* =============================================
 * Images
 * ============================================= */
 #example-result{background-color:red;}
.gimg{width:30%;}
.gimg1 {
    width: 100%;
    padding: 20px;
}
.items td{width:25%;}
.items th{background-color:#eee;padding:10px;border:1px solid #ddd;}
.img-fullwidth {
  width: 100%; }

.img-fullheight {
  height: 100%; }
.grid-view .button-column img {
    border: 0px none;
    width: 28%;
}
/* =============================================
 * Margin & Padding
 * ============================================= */
.margin-none {
  margin: 0 0 0 0; }

.margin-all {
  margin: 25px; }

.margin-all-2x {
  margin: 50px; }

.margin-all-3x {
  margin: 75px; }

.margin-all-4x {
  margin: 100px; }

.margin-top {
  margin-top: 25px; }

.margin-top-2x {
  margin-top: 50px; }

.margin-top-3x {
  margin-top: 75px; }

.margin-top-4x {
  margin-top: 100px; }

.margin-right {
  margin-right: 25px; }

.margin-right-2x {
  margin-right: 50px; }

.margin-right-3x {
  margin-right: 75px; }

.margin-right-4x {
  margin-right: 100px; }

.margin-bottom {
  margin-bottom: 25px; }

.margin-bottom-2x {
  margin-bottom: 50px; }

.margin-bottom-3x {
  margin-bottom: 75px; }

.margin-bottom-4x {
  margin-bottom: 100px; }

.margin-left {
  margin-left: 25px; }

.margin-left-2x {
  margin-left: 50px; }

.margin-left-3x {
  margin-left: 75px; }

.margin-left-4x {
  margin-left: 100px; }

.padding-none {
  padding: 0 0 0 0; }

.padding-all {
  padding: 25px; }

.padding-all-2x {
  padding: 50px; }

.padding-all-3x {
  padding: 75px; }

.padding-all-4x {
  padding: 100px; }

.padding-top {
  padding-top: 25px; }

.padding-top-2x {
  padding-top: 50px; }

.padding-top-3x {
  padding-top: 75px; }

.padding-top-4x {
  padding-top: 100px; }

.padding-right {
  padding-right: 25px; }

.padding-right-2x {
  padding-right: 50px; }

.padding-right-3x {
  padding-right: 75px; }

.padding-right-4x {
  padding-right: 100px; }

.padding-bottom {
  padding-bottom: 25px; }

.padding-bottom-2x {
  padding-bottom: 50px; }

.padding-bottom-3x {
  padding-bottom: 75px; }

.padding-bottom-4x {
  padding-bottom: 100px; }

.padding-left {
  padding-left: 25px; }

.padding-left-2x {
  padding-left: 50px; }

.padding-left-3x {
  padding-left: 75px; }

.padding-left-4x {
  padding-left: 100px; }

.progress-xs {
  height: 5px; }

.progress-sm {
  height: 10px; }

.progress-md {
  height: 15px; }

.dropdown-menu .progress {
  margin: 0; }

.panel-status {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.panel-primary {
  border: none; }
  .panel-primary .panel-heading {
    border-color: #E17127;
    color: white;
    background-color: #E17127; }
  .panel-primary a {
    color: #E17127; }
    .panel-primary a:hover {
      color: #ca1a10; }

.panel-green {
  border: none; }
  .panel-green .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c; }
  .panel-green a {
    color: #5cb85c; }
    .panel-green a:hover {
      color: #3d8b3d; }

.panel-red {
  border: none;background: #fff; }
  .panel-red .panel-heading {
    border-color: #E17127;
    color: white;text-align: left;
    background-color: #E17127; }
  .panel-red a {
    color: #fff; }
    .panel-red a:hover {
      color: #fff; }

.panel-yellow {
  border: none; }
  .panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e; }
  .panel-yellow a {
    color: #f0ad4e; }
    .panel-yellow a:hover {
      color: #df8a13; }

.panel-status {
  overflow: hidden;
  border-bottom: 5px solid transparent !important;
  -moz-transition: border 0.7s ease;
  -o-transition: border 0.7s ease;
  -webkit-transition: border 0.7s ease;
  -ms-transition: border 0.7s ease;
  transition: border 0.7s ease;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .panel-status .panel-status-icon {
    color: #E17127;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .panel-status:hover {
    color: #ca1a10;
    border-bottom: 5px solid #E17127 !important; }
    .panel-status:hover .panel-status-icon {
      filter: alpha(opacity=25);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
      -moz-opacity: 0.25;
      -khtml-opacity: 0.25;
      opacity: 0.25;
      -webkit-transform: scale(2.5) rotate(15deg);
      -moz-transform: scale(2.5) rotate(15deg);
      transform: scale(2.5) rotate(15deg); }
  .panel-status.panel-info {
    color: #5bc0de;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .panel-status.panel-info .panel-status-icon {
      color: #5bc0de; }
    .panel-status.panel-info:hover {
      color: #28a1c5;
      border-bottom: 5px solid #5bc0de !important; }
  .panel-status.panel-danger {
    color: #E17127;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .panel-status.panel-danger .panel-status-icon {
      color: #E17127; }
    .panel-status.panel-danger:hover {
      color: #b52b27;
      border-bottom: 5px solid #E17127 !important; }
  .panel-status.panel-success {
    color: #5cb85c;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .panel-status.panel-success .panel-status-icon {
      color: #5cb85c; }
    .panel-status.panel-success:hover {
      color: #3d8b3d;
      border-bottom: 5px solid #5cb85c !important; }
  .panel-status.panel-warning {
    color: #f0ad4e;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .panel-status.panel-warning .panel-status-icon {
      color: #f0ad4e; }
    .panel-status.panel-warning:hover {
      color: #df8a13;
      border-bottom: 5px solid #f0ad4e !important; }
.bg-transperent {background: url("../images/bg.jpg") no-repeat scroll top center / cover transparent;}
.box {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.125);
  margin: 20px 0;
  position: relative;
  display: block; }
  .box .row {
    margin: 0; }

.box-primary {
  padding: 20px;
  background: #E17127;
  border: 1px solid #f36f67;
  color: #fff; }
  .box-primary .text-muted {
    color: #f5857f; }

.box-white {
  padding: 20px;
  background: #fff;
  border: 1px solid #eeeeee; }

.box-border-left {
  border-right: 1px solid #eeeeee; }

/* =============================================
 * Navbar 
 * 
 * @type WebRock Object
 * ============================================= */
.post-social {
  width: 100%;
  display: block;
  position: relative;
  margin: 0; }
  .post-social .post-social-title {
    display: block;
    position: relative; }
    .post-social .post-social-title.post-social-title-vintage {
      text-align: center;
      margin-bottom: 50px; }
      .post-social .post-social-title.post-social-title-vintage h1, .post-social .post-social-title.post-social-title-vintage h2, .post-social .post-social-title.post-social-title-vintage h3, .post-social .post-social-title.post-social-title-vintage h4, .post-social .post-social-title.post-social-title-vintage h5, .post-social .post-social-title.post-social-title-vintage h6, .post-social .post-social-title.post-social-title-vintage p {
        display: inline;
        position: relative;
        padding: 10px 30px;
        border: 2px solid #fff; }
  .post-social .post-social-subtitle {
    display: block;
    position: relative; }
  .post-social .post-social-image {
    display: block;
    position: relative; }
  .post-social.post-social-xlg {
    padding: 125px 0; }
    @media screen and (max-width: 1199px) {
      .post-social.post-social-xlg {
        padding: 104.16667px 0; } }
    @media screen and (max-width: 991px) {
      .post-social.post-social-xlg {
        padding: 83.33333px 0; } }
    @media screen and (max-width: 767px) {
      .post-social.post-social-xlg {
        padding: 62.5px 0; } }
  .post-social.post-social-lg {
    padding: 100px 0; }
    @media screen and (max-width: 1199px) {
      .post-social.post-social-lg {
        padding: 83.33333px 0; } }
    @media screen and (max-width: 991px) {
      .post-social.post-social-lg {
        padding: 66.66667px 0; } }
    @media screen and (max-width: 767px) {

      .post-social.post-social-lg {
        padding: 50px 0; } }
  .post-social.post-social-md {
    padding: 75px 0; }
    @media screen and (max-width: 1199px) {
      .post-social.post-social-md {
        padding: 62.5px 0; } }
    @media screen and (max-width: 991px) {
      .post-social.post-social-md {
        padding: 50px 0; } }
    @media screen and (max-width: 767px) {
      .post-social.post-social-md {
        padding: 37.5px 0; } }
  .post-social.post-social-sm {
    padding: 50px 0; }
    @media screen and (max-width: 1199px) {
      .post-social.post-social-sm {
        padding: 41.66667px 0; } }
    @media screen and (max-width: 991px) {
      .post-social.post-social-sm {
        padding: 33.33333px 0; } }
    @media screen and (max-width: 767px) {
      .post-social.post-social-sm {
        padding: 25px 0; } }
  .post-social.post-social-xs {
    padding: 25px 0; }
    @media screen and (max-width: 1199px) {
      .post-social.post-social-xs {
        padding: 20.83333px 0; } }
    @media screen and (max-width: 991px) {
      .post-social.post-social-xs {
        padding: 16.66667px 0; } }
    @media screen and (max-width: 767px) {
      .post-social.post-social-xs {
        padding: 12.5px 0; } }

.post-social-status {
  margin: 0px 0 0; }
  .post-social-status li a {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #777777; }
    .post-social-status li a:hover {
      color: #555555;
      text-decoration: none; }

.post-social-wrapper {
  margin-left: -15px;
  margin-right: -15px; }

.post-social-tag {
  color: rgba(255, 255, 255, 0.75);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .post-social-tag:hover {
    text-decoration: none;
    color: white; }

body {
  background-color: #29282f;
  overflow-x: hidden; }
.grid-view{margin-top:10px;}
.grid-view a{color:#E17127;}.grid-view a:hover{color:#000;}
#wrapper {
  width: 100%; }

#page-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 15px 15px;
  min-height: 800px;
  background-color: #eeeeee; }

#post-social-1 {
  background-image: url("img/image-8.jpg"); }

#post-social-2 {
  background-image: url("img/image-1.jpg"); }

#post-social-3 {
  background-image: url("img/image-3.jpg"); }

#post-social-4 {
  background-image: url("img/image-4.jpg"); }

#post-social-5 {
  background-image: url("img/image-5.jpg"); }

#post-social-6 {
  background-image: url("img/image-6.jpg"); }

#post-social-7 {
  background-image: url("img/image-7.jpg"); }

#post-social-8 {
  background-image: url("img/image-2.jpg"); }

/*body.sidebar-right-open{
    #page-wrapper {
        margin: 0 250px 0 250px;
        @media(max-width:$screen-xs-max) {
            margin: 0 0 0 0;
        }
    }
}*/
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    padding: 15px 30px;min-height: 800px;
    border-left: 1px solid #19191d; } }
.sidebar-right {
  display: none;
  visibility: hidden;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #29282f;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fadeOutRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fadeOutRight;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-name: fadeOutRight;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: fadeOutRight;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  margin-top: 51px; }
  .sidebar-right.open {
    visibility: visible;
    display: block;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInRight;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fadeInRight;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.5s;
    -o-animation-name: fadeInRight;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: fadeInRight;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    z-index: 3; }
    @media screen and (max-width: 767px) {
      .sidebar-right.open {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        background: #29282f; } }
  .sidebar-right .sidebar-right-content {
    padding: 20px;
    color: #fff; }
    .sidebar-right .sidebar-right-content .sidebar-right-heading {
      padding: 20px;
      margin: 0px -20px 0;
      background: #35343d; }
      .sidebar-right .sidebar-right-content .sidebar-right-heading.sidebar-right-heading-first {
        margin: -20px -20px 0px; }

.sidebar-notification {
  background: #242329;
  margin: 1px -20px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .sidebar-notification a {
    padding: 15px 20px;
    display: block;
    color: #fff; }
    .sidebar-notification a:hover {
      text-decoration: none; }
  .sidebar-notification:hover {
    background: #33313a; }
  .sidebar-notification i {
    color: #E17127; }

.sidebar-contact-wrapper {
  background: #242329;
  margin: 1px -20px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .sidebar-contact-wrapper .sidebar-contact {
    padding: 15px 20px;
    display: block;
    color: #fff; }
    .sidebar-contact-wrapper .sidebar-contact:hover {
      text-decoration: none; }
  .sidebar-contact-wrapper:hover {
    background: #33313a; }

.navbar-top-links li {
  display: inline-block; }

.navbar-top-links li:last-child {
  margin-right: 15px; vertical-align:top; }

.navbar-top-links li a {
  padding: 18px;color: #262626!important;
  min-height: 50px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.navbar-top-links > li > a {
  color: #333333!important;
  font-size: 12px;
  text-transform: uppercase; }
  .navbar-top-links > li > a i {
    font-size: 14px; }
  .navbar-top-links > li > a:hover, .navbar-top-links > li > a:active, .navbar-top-links > li > a:focus {
    background: #fcfcfc;
    color: #E17127; }

.navbar-top-links .dropdown-menu {
  padding: 0; }

.navbar-top-links .dropdown-menu li {
  display: block; }
  .navbar-top-links .dropdown-menu li.divider {
    margin: 0; }

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0; }

.navbar-top-links .dropdown-menu li a {
  padding: 15px;
  min-height: 0; }

.navbar-top-links .dropdown-menu li a div {
  white-space: normal; }

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0; }

.navbar-top-links .dropdown-messages {
  margin-left: 5px; }
  .navbar-top-links .dropdown-messages .dropdown-messages-excerpt {
    font-size: 12px; }

.dropdown-small {
  font-size: 10px;
  text-transform: uppercase; }

.navbar-top-links li .dropdown-button {
  background: #E17127;
  color: #fff !important; }
  .dropdown-button:hover {
    background: #ed2c20 !important; }

.navbar-top-links .dropdown-tasks {
  margin-left: -59px; }

.navbar-top-links .dropdown-alerts {
  margin-left: -123px; }

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto; }
.select2-container .select2-choice {color:#555!important;}
.select2-search input {width:100%!important;}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

.sidebar .sidebar-search {
  padding: 15px; }
  .sidebar .sidebar-search .sidebar-search-button {
    position: absolute;
    right: 21px;
    top: 21px; }

.sidebar ul li {
  background-color: #29282f; }
  .sidebar ul li a {
    padding: 15px 15px;
    color: #fff!important;
    background-color: #29282f;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .sidebar ul li a .sidebar-item-arrow {
      padding-top: 5px; }
    .sidebar ul li a .sidebar-item-icon {
      position: absolute;margin-top: -3px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .sidebar ul li a .sidebar-item-title {
      font-size: 12px;
      padding-left: 40px;
      text-transform: uppercase;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .sidebar ul li a .sidebar-item-subtitle {
      color: #716e82;
      padding-left: 40px;
      font-size: 10px;
      display: block;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .sidebar ul li a.active {
      background-color: #35343d; }
      .sidebar ul li a.active .sidebar-item-subtitle {
        color: #a6a4b2; }
    .sidebar ul li a:hover, .sidebar ul li a:active, .sidebar ul li a:focus {
      border-left: 5px solid #E17127;
      background-color: #33313a; }
      .sidebar ul li a:hover .sidebar-item-icon, .sidebar ul li a:active .sidebar-item-icon, .sidebar ul li a:focus .sidebar-item-icon {
        margin-left: 10px;
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
        zoom: 1; }
      .sidebar ul li a:hover .sidebar-item-title, .sidebar ul li a:active .sidebar-item-title, .sidebar ul li a:focus .sidebar-item-title {
        padding-left: 50px; }
      .sidebar ul li a:hover .sidebar-item-subtitle, .sidebar ul li a:active .sidebar-item-subtitle, .sidebar ul li a:focus .sidebar-item-subtitle {
        padding-left: 50px;
        color: #8b899a; }

.sidebar-toggle {
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  color: #333333!important;
  margin-left: 15px; }
  .sidebar-toggle i {
    line-height: 50px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .sidebar-toggle:hover i {
    color: #E17127;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

.navbar-brand {
  margin-left: 50px;
  font-size: 12px; }
  .navbar-brand img {
    max-width: 100%;
    margin-right: 5px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      margin-left: 0; } }

.sidebar {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .sidebar .sidebar-profile {
    padding: 30px 15px 15px; }
    .sidebar .sidebar-profile .sidebar-profile-picture {
      position: relative; }
      .sidebar .sidebar-profile .sidebar-profile-picture .sidebar-profile-status {
        top: -35px;
        left: 80px;
        width: 18px;
        height: 18px;
        position: absolute;
        background: #5cb85c;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .sidebar .sidebar-profile .sidebar-profile-picture img {
        max-width: 100px;height:100px;width:100px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    .sidebar .sidebar-profile .sidebar-profile-name {
      text-transform: uppercase;
      margin: 25px 0 15px 0;
      position: relative;
      color: #fff;
      font-size: 14px; }
    .sidebar .sidebar-profile .sidebar-profile-description {
      font-size: 10px;
      position: relative;
      color: #8b899a;
      margin-bottom: 20px; }
    .sidebar .sidebar-profile .sidebar-profile-location {
      position: relative;
      text-transform: uppercase;
      font-size: 10px; }
    .sidebar .sidebar-profile:hover .sidebar-profile-status {
      -webkit-animation-delay: 0;
      -webkit-animation-duration: 0.8s;
      -webkit-animation-name: flash;
      -webkit-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -moz-animation-delay: 0;
      -moz-animation-duration: 0.8s;
      -moz-animation-name: flash;
      -moz-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -o-animation-delay: 0;
      -o-animation-duration: 0.8s;
      -o-animation-name: flash;
      -o-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      animation-delay: 0;
      animation-duration: 0.8s;
      animation-name: flash;
      animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */ }
  .sidebar .sidebar-search-collapse {
    display: none; }

.sidebar .arrow {
  float: right; }

.sidebar .fa.arrow:before {
  content: "\f104"; }

.sidebar .active > a > .fa.arrow:before {
  content: "\f107"; }

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important; }

.sidebar .nav-second-level li a {
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 37px;
  color: #dcdbe1;
  background: #1d1c21; }
  .sidebar .nav-second-level li a:hover {
    border-left: 2px solid #E17127;
    color: #f7f7f8;
    background-color: #222127; }

.sidebar .nav-third-level li a {
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 52px;
  color: #c1c0c9;
  background: #161519; }
  .sidebar .nav-third-level li a:hover {
    border-left: 2px solid #E17127;
    color: #dcdbe1;
    background-color: #1b1a1e; }

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 56px; }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto; } }
@media screen and (min-width: 767px) {
  .sidebar-collapse .sidebar {
    width: 60px;
    z-index: 999; }
    .sidebar-collapse .sidebar .sidebar-search {
      padding: 0;
      margin: 0; }
      .sidebar-collapse .sidebar .sidebar-search .sidebar-search-button, .sidebar-collapse .sidebar .sidebar-search input {
        display: none; }
      .sidebar-collapse .sidebar .sidebar-search .sidebar-search-collapse {
        display: block; }
    .sidebar-collapse .sidebar .sidebar-profile {
      padding: 5px; }
      .sidebar-collapse .sidebar .sidebar-profile .sidebar-profile-name, .sidebar-collapse .sidebar .sidebar-profile .sidebar-profile-description, .sidebar-collapse .sidebar .sidebar-profile .sidebar-profile-location {
        display: none; }
      .sidebar-collapse .sidebar .sidebar-profile .sidebar-profile-picture img {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
      .sidebar-collapse .sidebar .sidebar-profile .sidebar-profile-status {
        top: -15px;
        left: 40px;
        width: 10px;
        height: 10px; }
    .sidebar-collapse .sidebar .sidebar-item-arrow {
      display: none; }
    .sidebar-collapse .sidebar .sidebar-item-subtitle, .sidebar-collapse .sidebar .sidebar-item-title {
      display: none; }
    .sidebar-collapse .sidebar .sidebar-nav > ul > li > a {
      min-height: 60px; }
      .sidebar-collapse .sidebar .sidebar-nav > ul > li > a:hover .sidebar-item-icon {
        margin-left: -2px;
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
        zoom: 1; }
    .sidebar-collapse .sidebar .nav-second-level li a {
      width: 250px; }
  .sidebar-collapse #page-wrapper {
    margin: 0 0 0 60px; } }

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s; }

.btn-primary.btn-outline {
  color: #E17127; }

.btn-success.btn-outline {
  color: #5cb85c; }

.btn-info.btn-outline {
  color: #5bc0de; }

.btn-warning.btn-outline {
  color: #f0ad4e; }

.btn-danger.btn-outline {
  color: #E17127; }

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white; }

.chat {
  margin: 0;
  padding: 0;
  list-style: none; }

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px; }

.chat li.left .chat-body {
  margin-left: 60px; }

.chat li.right .chat-body {
  margin-right: 60px;
  background: #eeeeee;
  padding: 20px; }

.chat li .chat-body p {
  margin: 0; }

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px; }

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll; }

.login-panel {
  margin-top: 25%; }

.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent; }

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome; }

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome; }

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5); }

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429; }

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33; }

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important; }

.show-grid {
  margin: 15px 0; }

.huge {
  font-size: 40px; }

.bg-sidebar {
  background: #29282f; }

.text-primary {
  color: #E17127; }

.text-danger {
  color: #E17127; }

.text-warning {
  color: #f0ad4e; }

.text-info {
  color: #5bc0de; }

.text-success {
  color: #5cb85c; }

a.text-primary {
  color: #E17127; }
  a.text-primary:hover {
    color: #e21e12; }

a.text-warning {
  color: #f0ad4e; }
  a.text-warning:hover {
    color: #ec971f; }

a.text-danger {
  color: #E17127; }
  a.text-danger:hover {
    color: #c9302c; }

a.text-info {
  color: #5bc0de; }
  a.text-info:hover {
    color: #31b0d5; }

a.text-success {
  color: #5cb85c; }
  a.text-success:hover {
    color: #449d44; }

.text-white {
  color: #fff; }
  .text-white a {
    color: #fff; }

.text-info {
  color: #5bc0de; }
  .text-info a {
    color: #5bc0de; }

.btn {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.text-xs {
  font-size: 10px; }

.text-sm {
  font-size: 12px; }

.list-group-item {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

table tr {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  table tr td {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }

tr.unread {
  font-weight: bold; }
  tr.unread td {
    background: #eeeeee; }

.mail-box tr a {
  display: block;
  width: 100%; }
  .mail-box tr a:hover {
    text-decoration: none; }

.message-favorite {
  cursor: pointer;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .message-favorite:hover {
    color: #f0ad4e; }
  .message-favorite.message-favorite-active {
    color: #f0ad4e; }

#email-reveal {
  display: none; }

.bg-turquoise {
  background-color: #1abc9c;
  color: #fff; }

a:hover.bg-turquoise {
  background-color: #17a689; }

.text-turquoise, .text-turquoise * {
  color: #1abc9c; }

.bg-green-sea {
  background-color: #16a085;
  color: #fff; }

a:hover.bg-green-sea {
  background-color: #138a72; }

.text-green-sea, .text-green-sea * {
  color: #16a085; }

.bg-emerald {
  background-color: #2ecc71;
  color: #fff; }

a:hover.bg-emerald {
  background-color: #29b765; }

.text-emerald, .text-emerald * {
  color: #2ecc71; }

.bg-nephritis {
  background-color: #27ae60;
  color: #fff; }

a:hover.bg-nephritis {
  background-color: #229955; }

.text-nephritis, .text-nephritis * {
  color: #27ae60; }

.bg-peter-river {
  background-color: #3498db;
  color: #fff; }

a:hover.bg-peter-river {
  background-color: #258cd1; }

.text-peter-river, .text-peter-river * {
  color: #3498db; }

.bg-belize-hole {
  background-color: #2980b9;
  color: #fff; }

a:hover.bg-belize-hole {
  background-color: #2472a4; }

.text-belize-hole, .text-belize-hole * {
  color: #2980b9; }

.bg-amethyst {
  background-color: #9b59b6;
  color: #fff; }

a:hover.bg-amethyst {
  background-color: #8f4bab; }

.text-amethyst, .text-amethyst * {
  color: #9b59b6; }

.bg-wisteria {
  background-color: #8e44ad;
  color: #fff; }

a:hover.bg-wisteria {
  background-color: #7f3d9b; }

.text-wisteria, .text-wisteria * {
  color: #8e44ad; }

.bg-wet-ashpalt {
  background-color: #34495e;
  color: #fff; }

a:hover.bg-wet-ashpalt {
  background-color: #2b3c4e; }

.text-wet-ashpalt, .text-wet-ashpalt * {
  color: #34495e; }

.bg-midnight-blue {
  background-color: #2c3e50;
  color: #fff; }

a:hover.bg-midnight-blue {
  background-color: #233140; }

.text-midnight-blue, .text-midnight-blue * {
  color: #2c3e50; }

.bg-sun-flower {
  background-color: #f1c40f;
  color: #fff; }

a:hover.bg-sun-flower {
  background-color: #dab10d; }

.text-sun-flower, .text-sun-flower * {
  color: #f1c40f; }

.bg-orange {
  background-color: #f39c12;
  color: #fff; }

a:hover.bg-orange {
  background-color: #e08e0b; }

.text-orange, .text-orange * {
  color: #f39c12; }

.bg-carrot {
  background-color: #e67e22;
  color: #fff; }

a:hover.bg-carrot {
  background-color: #d67118; }

.text-carrot, .text-carrot * {
  color: #e67e22; }

.bg-pumpkin {
  background-color: #d35400;
  color: #fff; }

a:hover.bg-pumpkin {
  background-color: #b94a00; }

.text-pumpkin, .text-pumpkin * {
  color: #d35400; }

.bg-alizarin {
  background-color: #e74c3c;
  color: #fff; }

a:hover.bg-alizarin {
  background-color: #e43725; }

.text-alizarin, .text-alizarin * {
  color: #e74c3c; }

.bg-pomegranate {
  background-color: #c0392b;
  color: #fff; }

a:hover.bg-pomegranate {
  background-color: #ab3326; }

.text-pomegranate, .text-pomegranate * {
  color: #c0392b; }

.bg-clouds {
  background-color: #ecf0f1;
  color: #fff; }

a:hover.bg-clouds {
  background-color: #dde4e6; }

.text-clouds, .text-clouds * {
  color: #ecf0f1; }

.bg-silver {
  background-color: #bdc3c7;
  color: #fff; }

a:hover.bg-silver {
  background-color: #afb6bb; }

.text-silver, .text-silver * {
  color: #bdc3c7; }

.bg-concrete {
  background-color: #95a5a6;
  color: #fff; }

a:hover.bg-concrete {
  background-color: #87999a; }

.text-concrete, .text-concrete * {
  color: #95a5a6; }

.bg-asbestos {
  background-color: #7f8c8d;
  color: #fff; }

a:hover.bg-asbestos {
  background-color: #727f80; }

.text-asbestos, .text-asbestos * {
  color: #7f8c8d; }

.bg-white {
  background-color: white;
  color: #fff; }

a:hover.bg-white {
  background-color: #f2f2f2; }

.text-white, .text-white * {
  color: white; }

.bg-black {
  background-color: black;
  color: #fff; }

a:hover.bg-black {
  background-color: black; }

.text-black, .text-black * {
  color: black; }

.bg-gold {
  background-color: #c5ac58;
  color: #fff; }

a:hover.bg-gold {
  background-color: #bea345; }

.text-gold, .text-gold * {
  color: #c5ac58; }

.bg-custom {
  background-color: #123123;
  color: #fff; }

a:hover.bg-custom {
  background-color: #0b1e16; }

.text-custom, .text-custom * {
  color: #123123; }

.bg-default {
  background-color: #E17127;
  color: #fff; }

a:hover.bg-default {
  background-color: #ed2c20; }

.text-default, .text-default * {
  color: #E17127; }
.bg-red {
    color: #fff;
    border-color: #e73629;
    background: #F44336;
}
.bg-blue-alt, .btn-blue-alt, .hover-blue-alt:hover, .label-blue-alt {
    color: #fff;
    background: #3F51B5;
    border-color: #3244a8;
}
 .bg-black-opacity, .btn-black-opacity, .hover-black-opacity:hover, .label-black-opacity {
    color: #a9b3bb;
    background: #2b323d;
}
 .bg-green, .hover-green:hover, .hover-success:hover, .label-success, .progress-bar-success{
    color: #fff;
    border-color: #3fa243;
    background: #4CAF50;
}
.example-box-wrapper {
    margin-bottom: 15px;
    position: relative;
}
.example-box-wrapper .alert, .example-box-wrapper .content-box, .example-box-wrapper .dashboard-box, .example-box-wrapper .dataTables_wrapper, .example-box-wrapper .icon-box, .example-box-wrapper .image-box, .example-box-wrapper .jcrop-holder, .example-box-wrapper .jvectormap-container, .example-box-wrapper .list-group, .example-box-wrapper .loading-spinner, .example-box-wrapper .loading-stick, .example-box-wrapper .minicolors, .example-box-wrapper .nav, .example-box-wrapper .panel-layout, .example-box-wrapper .scrollable-content, .example-box-wrapper .tile-box, .example-box-wrapper .ui-accordion, .example-box-wrapper .ui-rangeSlider, .example-box-wrapper .ui-slider, .example-box-wrapper .ui-tabs, .example-box-wrapper > .btn, .example-box-wrapper > .btn-group, .example-box-wrapper > .btn-group-vertical, .example-box-wrapper > .btn-toolbar, .example-box-wrapper > .display-block.dropdown-menu, .example-box-wrapper > .dropdown, .example-box-wrapper > .dropup, .example-box-wrapper > .hasDatepicker, .example-box-wrapper > .img-humbnail, .example-box-wrapper > .minicolors, .example-box-wrapper > .pagination, .example-box-wrapper > .panel-layout, .example-box-wrapper > .progressbar, .example-box-wrapper > .thumbnail, .example-box-wrapper > form, .example-box-wrapper > h6, .example-box-wrapper > img {
    margin-bottom: 20px;
}
/*#loadingbar, #nav-toggle span::after, #nav-toggle span::before, #nav-toggle.collapsed span, .badge-primary, .bg-primary, .bootstrap-switch-primary, .btn-primary, .chosen-container .chosen-results li.active-result.highlighted, .daterangepicker .ranges li.active, .daterangepicker .ranges li.active:hover, .fc-event, .form-wizard > ul > li.active .wizard-step, .irs-line-left, .irs-line-mid, .irs-line-right, .label-primary, .ms-hover.ui-state-focus, .ms-list .ms-hover, .nav > li.active > a, .nav > li.active > a:focus, .nav > li.active > a:hover, .owl-controls .owl-page span, .ui-accordion-header.ui-accordion-header-active, .ui-datepicker .ui-datepicker-current-day a, .ui-datepicker .ui-datepicker-current-day span, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev, .ui-dialog-buttonset button, .ui-menu li > a:hover, .ui-rangeSlider-bar, .ui-slider-handle, .ui-spinner .ui-spinner-button:hover, .ui-tabs-nav li.ui-state-active.ui-state-hover > a, .ui-tabs-nav li.ui-state-active > a, a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover, div.switch-toggle.switch-on, div[id^="uniform-"] span.checked, li.active a.list-group-item, li.active a.list-group-item:focus, li.active a.list-group-item:hover {
    color: #fff;
    background: #E91E63;
}*/
.tile-box {
    line-height: inherit;
    display: block;
    position: relative;
    height: auto;
    padding: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}
.tile-header {
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
    border: 0 !important;
    background: rgba(255,255,255,.2);
}
.tile-content-wrapper {
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.tile-box-alt .tile-content-wrapper > .glyph-icon {
    font-size: 65px;
    margin-top: -32px;
}
.tile-content-wrapper > .glyph-icon {
    font-size: 35px;
    line-height: 70px;
    position: absolute;
    top: 50%;
    left: 15px;
    height: 70px;
    margin-top: -36px;
    opacity: .3;
    -moz-opacity: .3;
    filter: alpha(opacity:30);
}
.glyph-icon {
    text-align: center;
}
.tile-content {
    font-size: 35px;
    text-align: right;
}
.tile-content span {
    font-size: 25px;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70);
}
.tile-content-wrapper small {
    font-size: 14px;
    display: block;
    text-align: right;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70);
}

.tile-box-alt .tile-header {
    padding: 10px;
    text-align: center;
}
.tile-header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tile-footer {
    display: block;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    color: #fff!important;
    background: rgba(0,0,0,.1);
}
.bg-white .tile-footer {
	border-top-style:solid;
	border-top-width:1px
}
.tile-footer:hover {
	opacity:.8;
	color:inherit;
	-moz-opacity:.8;
	filter:alpha(opacity:80)
}
.tile-footer .glyph-icon {
	float:right
}
.tile-box-alt .tile-header {
	padding:10px;
	text-align:center
}
.tile-box-alt .tile-content-wrapper>.glyph-icon {
	font-size:65px;
	margin-top:-32px
}
.tile-box-shortcut:hover .tile-content-wrapper>.glyph-icon,a.tile-box.btn .tile-content-wrapper>.glyph-icon,a.tile-box.btn .tile-header .float-right {
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out
}
a.tile-box.btn:hover .tile-content-wrapper>.glyph-icon {
	opacity:.7;
	-moz-opacity:.7;
	filter:alpha(opacity:70)
}
a.tile-box.btn:hover .tile-header .float-right {
	opacity:.9;
	-moz-opacity:.9;
	filter:alpha(opacity:90)
}
.tile-content-wrapper .easyPieChart {
	margin-top:-5px;
	margin-bottom:-5px;
	font-size:19px;
	font-weight:300
}
.tile-box-shortcut .tile-header {
	background:0 0;
	padding:0;
	position:absolute;
	right:10px;
	bottom:6px;
	font-size:13px;
	font-weight:400
}
.tile-box-shortcut .bs-badge {
	left:auto;
	right:10px;
	top:10px;
	background:rgba(0,0,0,.5)
}
.tile-box-shortcut .tile-content-wrapper {
	padding:0;
	min-height:80px
}
.tile-box-shortcut .tile-content-wrapper>.glyph-icon {
	position:absolute;
	left:15px;
	top:30px
}
.tile-box-shortcut:hover .tile-content-wrapper>.glyph-icon {
	opacity:.8;
	-moz-opacity:.8;
	filter:alpha(opacity:80)
}

   @media screen and (max-width: 767px) {
	.navbar-top-links .dropdown-alerts {
	    margin-left: 0px;
	}
.navbar-top-links .dropdown-user {
    right: 0;
    left: 0;
}
.grid-view {

    overflow: auto;
}
}
.navbar-brand-logo-2 {
    float: left;
    padding: 0!important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;    margin-left: 0px;
}
.mb-0{
  margin-bottom:0;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding:15px!important;
}
.select2-container-multi .select2-choices {
    min-height: 26px;
    border-radius: 3px!important;
    border: 1px solid #cccccc!important;
}
.map-icon-label i {
          font-size: 24px;
          color: #FFFFFF;
          line-height: 55px;
          text-align: center;
          white-space: nowrap;
      }
       .map-icon-label {
          font-size: 10px;
          color: #FFFFFF;
          line-height: 20px;
          text-align: center;
          white-space: nowrap;
      }
      #dvMap, #map_canvas {
          height: 500px;
          width: 100%;
      }
    .dataTables_filter{
    width: 30%!important;
    float: left!important;}
      .dataTables_filter label{
          display:inline!important;
      }
    .dataTables_wrapper .dataTables_filter input {
        width: 80%!important;
    } 