.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding-left: 10px;
	width: 100%;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 108%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
	font: normal 11px Tahoma,Arial,Helvetica,sans-serif;
}

.grid-view table.items th
{
	color: white;
	background: #393F22 repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}
.grid-view table.items tr:hover
{
    -moz-box-shadow:inset 0 0 3px #3B3C26;
    -webkit-box-shadow: 0px 0px 9px #3B3C26;
    -box-shadaw:inset 0 0 3px #3B3C26;
    background:#F9EDE3;
    cursor:pointer;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background:#EAF5BF;
}

.grid-view table.items tr.odd
{
	background: #E1F5BF;
}

.grid-view table.items tr.selected
{
	background: #D8EDB9;
}

.grid-view table.items tbody tr:hover
{
	background: #D8EDB9;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 70px;
}

.grid-view .button-column img
{
	border: 0;width: 28%!important;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 1px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}
