/*!
 * Propeller Pro v1.5.0 (http://pro.propeller.in/): sidebar.css
 * Copyright 2016-2019 Digicorp Information Systems Pvt. Ltd.
 * License: GNU General Public License v2.0 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */
.constructor,
.pmd-content {
  position: relative;
  margin: 0;
  padding-top: 4.625rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

@media (max-width: 767.98px) {
  .constructor,
  .pmd-content {
    padding-left: 1rem;
    padding-right: 1rem;
    transition: none;
  }
}

@media (max-width: 767.98px) {
  body.pmd-body-open {
    overflow: hidden;
  }
}

.pmd-sidebar,
.wrapper,
.pmd-content {
  vertical-align: top;
}

.pmd-sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  padding-top: 4rem;
  width: 280px;
}

@media (max-width: 767.98px) {
  .pmd-sidebar {
    padding-top: 0;
    transform: translate3d(-280px, 0, 0);
  }
}

.pmd-sidebar:before, .pmd-sidebar:after {
  content: " ";
  display: table;
}

.pmd-sidebar:after {
  clear: both;
}

.pmd-sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}

.pmd-sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}

.pmd-sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

.pmd-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}

.pmd-sidebar .pmd-user-info {
  margin-bottom: 0.5rem;
}

.pmd-sidebar .pmd-user-info > a {
  background-color: rgba(0, 0, 0, 0.05);
  background-size: cover;
}

.pmd-sidebar .pmd-user-info > a:hover, .pmd-sidebar .pmd-user-info > a:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 767.98px) {
  .pmd-sidebar .pmd-user-info > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.pmd-sidebar.pmd-sidebar-open {
  min-width: 280px;
  width: 280px;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 767.98px) {
  .pmd-sidebar.pmd-sidebar-open {
    min-width: 280px;
    width: 280px;
  }
}

.pmd-sidebar-slide-push {
  left: 0;
  -ms-transform: translate3d(-280px, 0, 0);
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

@media (max-width: 767.98px) {
  .pmd-sidebar-slide-push {
    left: 0;
  }
}

.pmd-sidebar-slide-push.pmd-sidebar-open ~ .pmd-content,
.pmd-sidebar-slide-push.pmd-sidebar-open ~ .wrapper .constructor {
  margin-left: 280px;
}

@media (max-width: 767.98px) {
  .pmd-sidebar-slide-push.pmd-sidebar-open ~ .pmd-content,
  .pmd-sidebar-slide-push.pmd-sidebar-open ~ .wrapper .constructor {
    margin-left: 0;
  }
}

.pmd-sidebar-left-fixed,
.pmd-sidebar-right-fixed,
.pmd-sidebar-slide-push {
  position: fixed;
  top: 0;
  bottom: 0;
}

.pmd-sidebar-left-fixed,
.pmd-sidebar-right-fixed {
  z-index: 1031;
  padding-top: 0;
}

.pmd-sidebar-left-fixed {
  left: 0;
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -ms-transform: translate3d(-280px, 0, 0);
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.pmd-sidebar-right-fixed {
  right: 0;
  -ms-transform: translate3d(280px, 0, 0);
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.pmd-sidebar-right-fixed.pmd-sidebar-open {
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* -- Topbar --*/
.topbar-fixed {
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  position: fixed;
  z-index: 1030;
  overflow: hidden;
  width: 100%;
  height: 0px;
  right: 0;
  top: 0;
}

.topbar-fixed.pmd-sidebar-open {
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 200%;
}

.topbar-fixed.pmd-sidebar-open::before {
  border-radius: 50%;
  display: block;
  height: 3000px;
  width: 3000px;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  left: 50%;
  bottom: 50%;
  margin-left: -1500px;
  margin-bottom: -1500px;
}

.topbar-fixed.pmd-sidebar-open .topbar-container {
  opacity: 1;
  transition-delay: 1s;
}

.topbar-fixed::before {
  background: white none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 100%;
  color: #fff;
  content: "";
  left: 100%;
  position: absolute;
  -moz-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  will-change: transform;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  height: 3000px;
  width: 3000px;
}

.topbar-fixed .topbar-container {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0s;
}

.topbar-close {
  margin-top: 12px;
}

.pmd-sidebar-nav .nav-link {
  padding: 0.75rem 1rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  line-height: 2;
}

.pmd-sidebar-nav .nav-link .material-icons {
  color: rgba(0, 0, 0, 0.38);
}

.pmd-sidebar-nav .nav-link:hover, .pmd-sidebar-nav .nav-link:focus {
  background-color: rgba(0, 0, 0, 0.075);
}

.pmd-sidebar-nav .nav-link.active {
  background-color: rgba(0, 0, 0, 0.075);
}

.pmd-sidebar-nav .nav-item ul {
  list-style: none;
  padding-left: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.pmd-sidebar-nav .nav-item ul .nav-item:last-child {
  margin-bottom: 0.5rem;
}

.pmd-sidebar-nav .nav-item ul .nav-item .nav-link {
  font-weight: 400;
  padding: 0.5rem 1rem 0.5rem 72px;
}

.pmd-sidebar-nav .nav-item ul .nav-item .nav-link i {
  margin-left: -56px;
}

.pmd-sidebar-nav .nav-item ul .nav-item ul {
  border-bottom: none;
}

.pmd-sidebar-nav .nav-item .show {
  background-color: rgba(0, 0, 0, 0.075);
}

.pmd-nav-item-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.pmd-sidebar-dark .nav-link {
  color: #fff;
}

.pmd-sidebar-dark .nav-link .material-icons {
  color: rgba(255, 255, 255, 0.5);
}

.pmd-sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.87);
  z-index: 1030;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.pmd-sidebar-overlay.pmd-sidebar-overlay-active {
  opacity: 0.5;
  visibility: visible;
  transition-delay: 0;
}

.pmd-sidebar-toggle {
  margin-left: -0.5rem;
}

/*# sourceMappingURL=sidebar.css.map */