

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.text-logo-color{color:#e7a54f!important;}


/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.widget_archive li, .widget_archive ul, .widget_categories li, .widget_categories ul, .widget_links li, .widget_links ul, .widget_meta li, .widget_meta ul, .widget_nav_menu li, .widget_nav_menu ul, .widget_pages li, .widget_pages ul, .widget_recent_comments li, .widget_recent_comments ul, .widget_recent_entries li, .widget_recent_entries ul, .widget_rss li, .widget_rss ul {
    list-style: none;
    margin: 0;
}
.widget_archive>ul>li:first-child, .widget_categories>ul>li:first-child, .widget_links>ul>li:first-child, .widget_meta>ul>li:first-child, .widget_nav_menu>ul>li:first-child, .widget_pages>ul>li:first-child, .widget_recent_comments>ul>li:first-child, .widget_recent_entries>ul>li:first-child, .widget_rss>ul>li:first-child {
    border-top: 0!important;
}
.widget_archive li, .widget_categories li, .widget_links li, .widget_meta li, .widget_nav_menu li, .widget_pages li, .widget_recent_comments li, .widget_recent_entries li, .widget_rss li {
    padding: 4px 0;
    font-size: 15px;
}
.widget_archive li, .widget_archive ul, .widget_categories li, .widget_categories ul, .widget_links li, .widget_links ul, .widget_meta li, .widget_meta ul, .widget_nav_menu li, .widget_nav_menu ul, .widget_pages li, .widget_pages ul, .widget_recent_comments li, .widget_recent_comments ul, .widget_recent_entries li, .widget_recent_entries ul, .widget_rss li, .widget_rss ul {
    list-style: none;
    margin: 0;
    padding-left:0;
}
#copyrights {
    text-transform: capitalize;
        font-size: 80%;
}
/*.widget_archive:not(.widget-li-noicon) li::before, .widget_categories:not(.widget-li-noicon) li::before, .widget_links:not(.widget-li-noicon) li::before, .widget_meta:not(.widget-li-noicon) li::before, .widget_nav_menu:not(.widget-li-noicon) li::before, .widget_pages:not(.widget-li-noicon) li::before, .widget_recent_comments:not(.widget-li-noicon) li::before, .widget_recent_entries:not(.widget-li-noicon) li::before, .widget_rss:not(.widget-li-noicon) li::before {
    content: "\f054";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0;
    font-weight: 300;
    color: #191919;
    font-size: 13px;
}*/
.dark .widget_links li a {
   display: inline-block;
    padding: 0 3px 0 12px;
    border: none!important;
}
.widget:first-child {
    margin-top: 0;
}
.widget {
    position: relative;
    margin-top: 50px;
}

.widget>h4 {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.line {
    border-top-color: #4a4a4a;
}
.double-line, .line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 2rem 0;
    /*border-top: 1px solid #4a4a4a;*/
}
.w-100 {
    width: 100%!important;
}
.g-pa-50 {
    padding: 3.57143rem !important;
}
.g-py-15 {
    padding-top: 1.07143rem !important;
    padding-bottom: 1.07143rem !important;
}
.g-py-10 {
    padding-top: 0.57143rem !important;
    padding-bottom: 0.57143rem !important;
}
.g-color-black {
    color: #000 !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
@media (min-width: 1200px){
.g-mx-70--xl {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}
}
.slider{
  -webkit-transition: opacity 2000s ease-in-out;
    -moz-transition: opacity 2000s ease-in-out;
    -ms-transition: opacity 2000s ease-in-out;
    -o-transition: opacity 2000s ease-in-out;
     opacity: 1;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.overflow-hidden .input-group-text {
    min-width: 38px;
    background-color: transparent;
    border-color: #ccc;
    transition: border-color .15s ease-in-out 0s;
}
 .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.overflow-hidden .input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
 .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.g-width-45 {
    width: 45px !important;
}

.g-color-primary {
    color: #E6A34B !important;
}
.rounded {
    border-radius: .25rem!important;
}
.form-control {    line-height: 1.5;}
[class*="input-group-"] i {
    margin: 0 auto;
}
.g-top-2 {
    top: 0.14286rem;
}
.g-pos-rel {
    position: relative !important;
}
[class*="input-group-"] > * {
    white-space: normal;
}
p.help-block.help-block-error{
    margin-bottom:0.5rem;color:#f00;
}
.g-mb-40 {
    margin-bottom: 2.85714rem !important;
}
.u-heading-v3-1 {
    border-bottom: 1px dotted #ccc;
}
.g-brd-primary {
    border-color: #e6a34b !important;
}
.u-heading-v3__title {
    position: relative;
    top: 9px;
    display: inline-block;
    margin: 0;
    padding-bottom: 0.71429rem;
    border-bottom: 1px solid #555;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7 {
    line-height: 1.4;
}

.search-icon {
    height:15px;
}
.grid-view .btn {
    padding: 0.2rem 0.8rem!important;
    font-size: 12px!important;
    opacity: 1;
    border-radius: 5px!important;
    line-height: 6px!important;
    line-height: 20px!important;
}
.input:focus,textarea:focus{
  border-color: initial;
 }
input.error, textarea.error{
  border:1px solid red!important;
 }


.emphasis {
    border-top: 4px solid transparent;
}
.fade.in {
    opacity: 1!important;
}
.table tr:nth-child(1) td {
    border: 0;
}
.nav-tabs > li > a.active{color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;}
    .well{overflow: auto; margin: 5% 2%;}
   .mt-3{margin-top: 3rem!important;}
   .mb-3{margin-bottom: 3rem!important;}

